<!--md5:5a247ac7ad05be8dedd88bf8f08ae170-->
<div class="wrapper" style="height: {{=height}};">
    {{if brand}}
    <!-- m动画 -->
    <picture class="m-img">
        <source class="m-img" type="image/webp" srcset="https://img.alicdn.com/imgextra/i4/O1CN01UlNpXg1pByutEZSoc_!!6000000005323-49-tps-96-96.webp">
        <source class="m-img" type="image/png" srcset="https://img.alicdn.com/imgextra/i2/O1CN01YkLhgX1TS5IDT9kJJ_!!6000000002380-54-tps-96-96.apng">
        <img class="m-img" src="https://img.alicdn.com/imgextra/i2/O1CN01DpsTcB1Kdgmtb59n5_!!6000000001187-1-tps-48-48.gif" />
    </picture>
    {{else}}
        <!-- 品牌色转圈loading -->
        <svg class="bg" 
            width="36" 
            height="36" 
            viewBox="18 18 36 36"
            xmlns="http://www.w3.org/2000/svg" 
            version="1.1"
            xmlns:xlink="http://www.w3.org/1999/xlink" >
            <defs>
                <lineargradient id="{{=loadingId}}_colors" x1="0%" y1="0%" x2="100%" y2="64.9%">
                    <stop offset="0%" stop-color="{{=colorGradient}}"></stop>
                    <stop offset="100%" stop-color="{{=color}}"></stop>
                </lineargradient>
            </defs>
            <circle
                cx="36"
                cy="36"
                r="16"
                fill="none" 
                stroke="{{=colorBg}}"
                stroke-width="4" 
                stroke-miterlimit="10"/>
            <circle  class="path" 
                cx="36"
                cy="36"
                r="16"
                fill="none" 
                stroke="url(#{{=loadingId}}_colors)"
                stroke-width="4"
                stroke-miterlimit="10"/>
        </svg>
        {{if content}}
        <div class="text" mx-html="{{=content}}"></div>
        {{/if}}
    {{/if}}
</div>