/*md5:cf40e0b7a1b3fbd6248626704e271db0*/
/* iconfont： https://www.iconfont.cn/manage/index?spm=a313x.7781069.1998910419.13&manage_type=myprojects&projectId=2921776&keyword=&project_type=&page= */
@font-face {
    font-family: 'mx5-iconfont';  /* Project id 2921776 */
    src: url('//at.alicdn.com/t/font_2921776_n6ydbsy77gs.woff2?t=1639338431078') format('woff2'),
         url('//at.alicdn.com/t/font_2921776_n6ydbsy77gs.woff?t=1639338431078') format('woff'),
         url('//at.alicdn.com/t/font_2921776_n6ydbsy77gs.ttf?t=1639338431078') format('truetype');
}

.mx5-iconfont {
    display: inline-block;
    position: relative;
    font-family: "mx5-iconfont";
    font-style: normal;
    font-size: 16px;
    font-weight: normal;
    font-variant: normal;
    font-display: fallback; //https://www.chromestatus.com/feature/5636954674692096
    line-height: 1;
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    vertical-align: middle;
}

/* <i class="mx5-iconfont mx5-iconfont-tip">&#xe72f;</i> */
.mx5-iconfont-tip {
    color: #999;
    font-size: 14px;
}