<!--md5:43397b5ce6a4ef037069a9915216915f-->
{{if text}}
<label class="checkbox-label">
    <input class="checkbox {{if indeterminate}} indeterminate {{/if}}" type="checkbox" 
        checked="{{=checked}}?"
        disabled="{{=disabled}}?"
        name="{{=name}}"
        value="{{=value}}"
        mx-change="@:{change}()"/>
    {{if text}}
    <span class="checkbox-text" mx-html="{{=text}}"></span>
    {{/if}}
    {{if tagContent}}
    <span class="checkbox-tag mx5-tag {{if disabled}} mx5-tag-disabled {{/if}}" 
        style="background-color: {{=tagColor}}; border: 1px solid {{=tagColor}};">
        <span class="mx5-tag-name" mx-html="{{=tagContent}}"></span>
    </span>
    {{/if}}
    {{if tip}}
    <mx-popover class="checkbox-pop mx5-iconfont mx5-iconfont-tip" *content="{{=tip}}">&#xe72f;</mx-popover>
    {{/if}}
</label>
{{else}}
<input class="checkbox {{if indeterminate}} indeterminate {{/if}}" type="checkbox" 
    checked="{{=checked}}?"
    disabled="{{=disabled}}?"
    name="{{=name}}"
    value="{{=value}}"
    mx-change="@:{change}()"/>
{{/if}}