<!--md5:65df1a8e9f6934fe3bc9f7c906db90f7-->
<mx-slot name="first">
    {{if (start>1)}}
    <a class="num-item" href="#" mx-click="@:{to.page}({page:1})" data-spm-click="{{=spm}}?{{=spm}}n1">1</a>
    {{/if}}
</mx-slot>

<mx-slot name="center">
    {{for(let i=start;i<=end;i++)}}
    <a class="num-item {{if (i==page)}} active {{/if}}" href="#" mx-click="@:{to.page}({page:'{{=i}}'})" data-spm-click="{{=spm}}?{{=spm}}n{{=i}}">{{=i}}</a>
    {{/for}}
</mx-slot>

<mx-slot name="last">
    {{if (end<pages)}}
    <a class="num-item" href="#" mx-click="@:{to.page}({page:'{{=pages}}'})" data-spm-click="{{=spm}}?{{=spm}}ne">{{=pages}}</a>
    {{/if}}
</mx-slot>


{{if (mode == 'circle')}}
<div class="mx5-clearfix circle-pager">
    <!-- 完整汇总信息 -->
    {{if (!simplify && !mini)}}
    <span class="num-text" mx-html="{{=tipPer}}："></span>
        {{if sizesChange}}
        <mx-dropdown class="pager-dropdown"
            *list="{{#sizes}}"
            *selected="{{=size}}"
            mx-change="@:{change.size}()"
            data-spm-click="{{=spm}}?{{=spm}}dpd" />
        {{else}}
        <span class="num-text" mx-html="&nbsp;{{=size}}&nbsp;"></span>
        {{/if}}
    {{/if}}

    <!-- 上翻页 -->
    <mx-btn class="pager-btn" 
        *disabled="{{=(page==1)}}" 
        mx-click="@:{to.page}({page:'{{=(page-1)}}'})"
        data-spm-click="{{=spm}}?{{=spm}}prev">
        <i class="mx5-iconfont icon">&#xe6c4;</i>上一页
    </mx-btn>

    {{if mini}}
        <span class="num-text"><span class="mx5-color-brand">{{=page}}</span>&nbsp;/&nbsp;{{=pages}}</span>
    {{else}}
        <mx-slot use="first"/>
        {{if (start>2)}}
        <i class="num-text opacity5 mx5-iconfont">&#xe61b;</i>
        {{/if}}
        <mx-slot use="center"/>
        {{if (end+2<=pages)}}
        <i class="num-text opacity5 mx5-iconfont">&#xe61b;</i>
        {{/if}}
        <mx-slot use="last"/>
    {{/if}}

    <!-- 下翻页 -->
    <mx-btn class="pager-btn" 
        *disabled="{{=(page==pages)}}" 
        mx-click="@:{to.page}({page:'{{=(page+1)}}'})"
        data-spm-click="{{=spm}}?{{=spm}}next">
        下一页<i class="mx5-iconfont icon next">&#xe6c3;</i>
    </mx-btn>

    <!-- 简易汇总信息 -->
    {{if (!mini && !hideTotal)}}
    <span class="num-text"><span class="mx5-color-brand">{{=page}}</span>&nbsp;/&nbsp;{{=pages}}</span>
    {{/if}}

    <!-- 快捷翻页 -->
    {{if jump}}
    <span class="num-text">
        到第&nbsp;<mx-input class="jump-input"
            *autocomplete="off"
            *value="{{:next}}" 
            mx-change="@:{stop.propagation}()"/>&nbsp;页
    </span>
    <mx-btn class="pager-btn" 
        *content="确定"
        mx-click="@:{jump}()"
        data-spm-click="{{=spm}}?{{=spm}}jt" />
    {{/if}}
</div>
{{else}}
<div class="mx5-clearfix pager">
    {{if (!simplify && !mini)}}
    <!-- 完整汇总信息 -->
    <div class="infos mx5-fl">
        <span mx-html="{{=tipOffset}}{{=tipTotal}}，{{=tipPer}}"></span>
        {{if sizesChange}}
        <mx-dropdown class="pager-dropdown"
            *small="true"
            *list="{{#sizes}}"
            *selected="{{=size}}"
            mx-change="@:{change.size}()"
            data-spm-click="{{=spm}}?{{=spm}}dpd" />
        {{else}}
        <span mx-html="&nbsp;{{=size}}&nbsp;"></span>
        {{/if}}
        <span mx-html="{{=tipUnit}}"></span>
    </div>
    {{/if}}

    <div class="mx5-clearfix infos {{if (!hideTotal)}} mx5-fr {{/if}}">
        <!-- 上翻页 -->
        <a class="mx5-iconfont icon num-item {{if (page==1)}} notallowed {{/if}}" href="#" mx-click="{{if (page>1)}}@:{to.page}({page:'{{=(page-1)}}'}){{else}}@:{prevent.default}(){{/if}}" data-spm-click="{{=spm}}?{{=spm}}prev">&#xe6c4;</a>

        {{if mini}}
            <span class="num-item">{{=page}}&nbsp;/&nbsp;{{=pages}}</span>
        {{else}}
            <mx-slot use="first"/>
            {{if (start>2)}}
            <i class="num-item notallowed mx5-iconfont">&#xe61b;</i>
            {{/if}}
            <mx-slot use="center"/>
            {{if (end+2<=pages)}}
            <i class="num-item notallowed mx5-iconfont">&#xe61b;</i>
            {{/if}}
            <mx-slot use="last"/>
        {{/if}}

        <!-- 下翻页 -->
        <a class="mx5-iconfont icon num-item {{if (page==pages)}} notallowed {{/if}}" href="#" mx-click="{{if (page<pages)}}@:{to.page}({page:'{{=(page+1)}}'}){{else}}@:{prevent.default}(){{/if}}" data-spm-click="{{=spm}}?{{=spm}}next">&#xe6c3;</a>

        <!-- 简易汇总信息 -->
        {{if !hideTotal}}
        <span class="num-text" mx-html="{{=tipTotal}}"></span>
        {{/if}}

        <!-- 快捷翻页 -->
        {{if jump}}
        <span class="num-text" mx-html="{{=tipJumpTo}}"></span>
        <mx-input class="jump-input"
            *autocomplete="off"
            *small="true"
            *value="{{:next}}"
            mx-change="@:{stop.propagation}()"/>
        <span class="num-text" mx-html="{{=tipJumpUnit}}"></span>
        <mx-btn class="mx5-ml5"
            *type="secondary"
            *small="true" 
            *content="跳转"
            mx-click="@:{jump}()"
            data-spm-click="{{=spm}}?{{=spm}}jt"/>
        {{/if}}
    </div>
</div>
{{/if}}
